body {
  width: 100%;
  background: #000000;
}

#body-wrapper {
  width: 960px;
  margin: 30px auto;
  padding-bottom: 30px;
  background: #334411;
}

#header, #content {
  position: relative;
  top: 30px;
  width: 900px;
  margin: 30px auto;
  background: #ffffff;
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
}
